select.fixed.form-control:not([size]):not([multiple]) {
    height: 34px;
}
.fixed.white-link a:link {
    color: #fff !important;
}

.fixed.white-visited a:visited {
    color: #fff !important;
}

.fixed.white-active a:active {
    color: #fff !important;
}

table.fixed.text-center-fc th:first-of-type, table.fixed.text-center-fc tr td:first-of-type{
    text-align: center;
}

table.fixed.text-right-fc th:first-of-type, table.fixed.text-right-fc tr td:first-of-type{
    text-align: right;
}

table.fixed.text-center-sc tr td:nth-child(2), table.fixed.text-center-sc tr th:nth-child(2){
    text-align: center;
}

table.fixed.border-dark > tbody:first-of-type > tr:first-of-type{
    border-top:2px solid #343a40;
}

table.fixed.border-dark > tbody > tr > td{
    border-bottom:1px solid #212529;
}

table.fixed.border-dark > tbody > tr, table.fixed.border-dark > thead > tr{
    border-right:1px solid #212529;
}

table.fixed.border-dark > tbody > tr{
    border-left:1px solid #212529;
}